.shinka-header {
	background: $shinka__header;
    height: 60px;
}

.shinka-header__navigation {
	display: none;
	position: absolute;
	z-index: 99999;
    top: 60px;
    width: 100%;
    background: #323232;
}

.shinka-header__navigation-container {
	padding: 10px 15px;
}

.shinka-header__menu {
	padding: 0;
    margin: 0;
    list-style-type: none;
	li {
		&:first-of-type {
			margin-top: 0;
		}
		margin-top: 10px;
		a {
			color: $shinka__white;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 600;
			&:visited {
				color: $shinka__white;
			}
		}
	}
}

.shinka-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 100%;
	svg {
		width: 20px;
		height: 20px;
		display: block;
		fill: $shinka__white;
	}
}

.shinka-header__logo {
	margin-left: 15px;
	svg {
		width: 100%;
	}
}

.shinka-header__sns-icon {
	margin-left: 10px;
	svg {
		width: 100%;
	}
}

.shinka-header__sns {
	display: none;
}

.shinka-header__dark-icon {
	margin-left: auto;
}

.shinka-header__menu-icon {
	margin-right: 15px;
}

.shinka-header__search-icon, .shinka-header__menu-icon {
	margin-left: 10px;
}

.shinka-footer {
	margin-top: 20px;
	background: $shinka__header;
}

.shinka-footer__container {
	display: flex;
    flex-direction: column;
	padding: 15px;
	align-items: center;
}


.shinka-footer__sns {
	display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.shinka-footer__links {
	margin-top: 15px;
    color: $shinka__white;
}

.shinka-footer__text {
	text-align: center;
    margin-top: 15px;
    color: $shinka__white;
}

.shinka-footer__text-content {
	margin-top: 10px;
	font-size: 16px;
	&:first-of-type {
		margin: 0;
	}
}

.shinka-footer__sns, .shinka-footer__logo {
	svg {
		width: 20px;
		height: 20px;
		display: block;
		fill: $shinka__white;
	}
}

.shinka-footer__logo {
	svg {
		width: 100%;
	}
}

.shinka-footer__menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	a {
		display: block;
		color: $shinka__white;
		padding: 10px;
		font-weight: 600;
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.shinka-header__container {
		width: 1280px;
		max-width: 1280px;
		margin: auto;
	}
	.shinka-header__logo, .shinka-footer__logo {
		margin: 0;
		svg {
			height: 25px;
		}
	}
	.shinka-header__menu-icon {
		display: none;
	}
	.shinka-header__sns, .shinka-footer__sns {
		display: flex;
		margin-left: auto;
	}
	.shinka-header__sns-icon, .shinka-footer__sns-icon {
		margin-left: 15px;
	}
	.shinka-header__dark-icon {
		border-left: 1px solid #424242;
		padding-left: 10px;
		margin-left: 10px;
	}
	.shinka-header__dark-icon, .shinka-header__search-icon {
		cursor: pointer;
	}
	.shinka-header__navigation {
		margin-left: 30px;
		display: block;
		position: relative;
		top: 0;
		width: auto;
		background: $shinka__header;
		z-index: 1;
	}
	.shinka-header__navigation-container {
		padding: 0;
	}
	.shinka-header__menu {
		display: flex;
		li {
			&:first-of-type {
				margin-left: 0;
			}
			margin-top: 0;
			margin-left: 15px;
		}
	}
	.shinka-footer__main {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.shinka-footer__sns {
		margin-top: 0;
	}
	.shinka-footer__container {
		width: 1280px;
		max-width: 1280px;
		margin: auto;
		padding: 15px 0;
		align-items: unset;
	}
	.shinka-footer__menu {
		a {
			margin: 0 10px;
			padding: 0;
		}
	}
}